[Desktop Entry]
Encoding=UTF-8
Name=Link to BenchmarkTCP/Description
Type=Link
URL=http://automata.cs.ru.nl/BenchmarkTCP/Description
Icon=text-html
Name[en_GB]=Link to BenchmarkTCP
